<div id="<%= dom_id cart %>">
 <div class="flex justify-between">
      <span class="inline-block px-4 py-2 bg-blue-600 text-lg text-white font-bold">
          <p class="mb-4">
            <strong class="font-bold">Total price:</strong>
            <span class="text-base "><%= cart.total_price %></span>
          </p>
      </span>

    <% if !cart.cart_items.empty? %>
      <span class="inline-block px-4 bg-yellow-600 text-lg text-white font-bold">
          <p class="mb-4">
            <%= button_to "Confirm Order", new_v1_client_order_path, method: :get, class: " font-bold rounded-l" %>
          </p>
      </span>
      <% end %>


      <span class="inline-block px-4 py-2 bg-blue-600 text-lg text-white font-bold">
        <p>
            <strong class="font-bold">Total products:</strong>
            <span class="text-base "><%= cart.total_products %></span>
        </p>
    </span>
  </div>

 <div class="grid grid-cols-3 gap-4">
  <% cart.cart_items.order(:created_at).each do |cart_item| %>
    <%= render 'cart_product', product: cart_item.product %>
  <% end %>
</div>


</div>
