<!DOCTYPE html>
<html>
  <head>
    <title>RailsTemplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class= " bg-slate-400">
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>

    <div class="mx-auto max-w-6xl mt-10 mb-20">
  <%= yield %>
</div>

    <%= render 'layouts/footer' %>  </body>
</html>
